@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono:wght@800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  @apply bg-darkblue text-white;
}

.font-jetbrains {
  font-family: 'JetBrains Mono', monospace;
}

.poppins-bold {
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  font-style: normal;
}

.bg-white-opacity {
  background-color: rgba(255, 255, 255, 0.12);
}

.bg-white-opahover {
  @apply transition-colors;
}

.bg-white-opahover:hover {
  background-color: rgba(57, 53, 119, 0.76);
}

.form-input {
  @apply w-full p-3 bg-white-opacity text-black border border-gray-300 rounded-lg shadow-sm focus:ring-2 focus:outline-none placeholder-gray-400 transition;
}

.upload-card {
  @apply w-40 h-40 border-2 border-dashed border-indigo-300 rounded-xl flex flex-col items-center justify-center hover:bg-indigo-700 transition cursor-pointer;
}
